body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #c8e0c8; /* màu nền xanh nhạt */
    height: 100vh;

    /* bỏ flex để table không bị ép giữa */
    display: block;
}

.container {
    background-color: #81c784;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 60px auto; /* căn giữa riêng login-box */
}
#them{
    background-color: red;
    margin-top: 5px;
    margin-bottom:5px;
}
.header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-box {
    background-color: #298444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.scheclule {
    margin: auto;   
    margin-left: 20px;
}

.login-box button {
    background-color: #0D5329;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.login-box button:hover {
    background-color: #1b5e20;
}

table {
    border-collapse: collapse;
    width: 900px;
    height: 450px;
    margin: 0;   /* bám sát trái */
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.empty {
    background-color: #fff;
}

.form-add {
    margin: 20px;
    padding: 15px;
    background: #dcedc8;
    border-radius: 8px;
    width: 300px;
    display: none;
}

.form-add input, 
.form-add select, 
.form-add button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-add button {
    background: #0D5329;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form-add button:hover {
    background: #1b5e20;
}

.calendar {
  border-collapse: collapse;
  width: 60px;
  height:400px;
  text-align: right;
  margin-right: 10px;
  background-color: white;
}
.calendar th, .calendar td {
  border: 1px solid #ccc;
  padding: 5px;
  height: 20px;
}
.calendar td.today {
  background: #81c784;
  font-weight: bold;
  color: white;
}
.main-container{
    display: none;
}